<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Add customer</title>
  </head>
  <body class="container">
  <h1>Add news</h1>
  <hr>
  <form action='/AddPosts' method='post'>
    <div class='form-group'>
      <label for='postsTitle'>Add Title: </label>
      <input id='postsTitle' name='postsTitle' class='form-control' type='text'>
    </div>
    <div class='form-group'>
      <label for='postsBody'>Add Body: </label>
      <input id='postsBody' name='postsBody' class='form-control' type='text'>
    </div>
    <button type='submit' class='btn'>Summit</button>
  </form>
</body>
</html>
