@{
    Layout = "_Layout";
}
<div class="container">

    <h3>@Model.GetTitle()</h3>
    @{
        string username = Model.GetUser().GetUsername();
        <h6>By @username</h6>
    }
    <p>@Model.GetBody()</p>
    <button type="submit" name="home"class="btn"><a href= "/">Home Page</a></button><br><br>
    <button type="submit" name="addComment" class="btn btn-secondary"><a href""/posts/{postid}/comments/new"">Add comment</a></button>
    <button type="submit" name="edit" class="btn btn-secondary">Edit Posts</button>
    <button type="submit" name="delete"class="btn btn-secondary">Delete Posts</button>

</div>
