h1, h3 {
  font-family: monospace;
  color: grey;
  font-style: italic;
}

body {
  background-image: url('../img/backgroundimg.jpeg');
}

p{
  font-style: normal;
  color:#F5E4CE;
}

button{
  margin: 30px;
}

.topbar{
  float: right;
  border: 5px solid #33312D;
  padding: 20px;
  margin-top: 20px;
  margin-left: : 20px;
  margin-right: : 20px;
  margin-bottom: 20px;
  background-color: #231133;
}

.boxmodel {
  border: 5px solid #33312D;
  padding: 20px;
  margin-top: 50px;
  margin-left: : 80px;
  margin-right: : 80px;
  margin-bottom: 50px;
  background-color: #231133;

}

label{
  color: #F5E4CE;
}
.jumbotron {
  padding: 50px;
  margin-top: 20px;
  margin-left: : 20px;
  margin-right: : 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #231133;
  h1: #F5E4CE;
}
