<!DOCTYPE html>
<html>
    <head>
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/scripts.js"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="~/css/styles.css">
        <title>🤔</title>
    </head>
    <body>
        <div class="topbar">
            @{
                if(ViewBag.showLoginInfo == true)
                {
                    if(ViewBag.isLoggedIn == true)
                    {
                        var User = ViewBag.user;
                        <p>Signed in as @(User.GetUsername())</p>
                        <a href="/users/logout">Sign Out</a>
                    } else {
                        <a href="/users/new">Create Account</a>
                        <a href="/users/loginpage">Sign In</a>
                    }
                }
            }
        </div>
        @RenderBody()
    </body>
</html>
