
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>EpicReddit</title>
  </head>
  <body class="container">
  <h1>Welcome EpicReddit!</h1>
  <hr>
    <a href="/AddPosts"><button type='submit' class='btn'>Add news</button></a><br>
</body>
</html>
