@{
    Layout = "_Layout";
}
<script src="~/js/test.js"></script>
<div class="container">
  <div class="jumbotron">
    <button type="button" name="logIn" class="btn btn-secondary">Log in</button>
    <button type="button" name="signUp" class="btn btn-secondary">sign up</button>
  </div>

  <button type="button" name="createPosts" class="btn btn-warning">Create posts</button>
  <div class="news" method = "post">
  <ul>
    <li>@Model.someMethod()</li>
  </ul>
  </div>
</div>
