@{
  Layout="_Layout";
}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <center><h1><a href="/posts">Posts</a></h1>
    <h1><a href="/posts/new"></a></h1>/center>
</body>
</html>
